In [4]:
a="Hello Python"

In [5]:
a

'Hello Python'

In [6]:
for i in a:
    print(i)

H
e
l
l
o

P
y
t
h
o
n

In [7]:
L= list(range(2,21))

In [8]:
L

[2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [10]:
L[::-1]

[20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2]

In [11]:
L= [7,3,6,4,2,9,1]

In [13]:
L.sort()
L

[1, 2, 3, 4, 6, 7, 9]

In [14]:
L.sort(reverse=True)

In [15]:
L

[9, 7, 6, 4, 3, 2, 1]

# Set

In [16]:
set()

set()

In [17]:
a={}

In [18]:
type(a)

dict

In [19]:
a={2,3,5,8,4,5,1,6}

In [20]:
a

{1, 2, 3, 4, 5, 6, 8}

In [21]:
a.add(9)
a

{1, 2, 3, 4, 5, 6, 8, 9}

In [22]:
a.append(10)
a

AttributeError: 'set' object has no attribute 'append'

In [23]:
a.clear()

In [24]:
a

set()

In [25]:
x= {2,4,5,6,7}

In [26]:
xc=x.copy()

In [27]:
xc

{2, 4, 5, 6, 7}

In [28]:
x.add(8)

In [29]:
x

{2, 4, 5, 6, 7, 8}

In [30]:
xc

{2, 4, 5, 6, 7}

In [31]:
s1= {2,3,5,8,1,7}
s2={4,5,3}

In [32]:
s1.difference(s2)

{1, 2, 7, 8}

In [33]:
s2.difference(s1)

{4}

In [34]:
s1.remove(8)

In [35]:
s1

{1, 2, 3, 5, 7}

In [36]:
s1.discard(7)

In [37]:
s1

{1, 2, 3, 5}

In [38]:
s1= {2,3,5,8,1,7}
s2={4,5,3}
s3={4,5,6,7,3}

In [39]:
s1.intersection(s2)

{3, 5}

In [40]:
s1

{1, 2, 3, 5, 7, 8}

In [41]:
s1.intersection_update(s2)

In [42]:
s1

{3, 5}

In [49]:
s1= {2,3,5,8,1,7}
s2={4,5,3}
s5={2,3}
s4={11,22,33,55}
s3={4,5,6,7,3}

In [44]:
s1.isdisjoint(s2)

False

In [47]:
s1.isdisjoint(s4)  # no common values between s1 and s4

True

In [48]:
s2.issubset(s1)

False

In [50]:
s5.issubset(s1)

True

In [51]:
s1.issuperset(s5)

True

In [52]:
s2.union(s4)

{3, 4, 5, 11, 22, 33, 55}

### Comparison Operators

In [53]:
2==2  # isequal to

True

In [54]:
# Boolean Values (True and False)

In [55]:
2!=2  #  not equal to

False

In [58]:
a= "True"

In [59]:
type(a)

str

In [60]:
a= True

In [61]:
2 >2

False

In [62]:
2>=2

True

In [63]:
2!=0

True

In [64]:
2>=1 or 3<1

True

In [65]:
2>1 and 3<1

False

In [66]:
10 <5 or 10>20

False

In [67]:
9 > 6 or 4<2

True

## If, else elif conditional statements

if Case1:
    perform action1
elif case2:
    perform action2
else:
    perform action3

In [68]:
if True:
    print("Hello")
else:
    print("Bye")

Hello

In [69]:
x=10
y=20

if x>y:
    print("x is greater than y")
elif x<y:
    print("y is greater than x")
else:
    print("invalid")

y is greater than x

In [71]:
num= 20

if num==20:
    print("True")
else:
    print("False")

True

In [ ]:
num= input()

In [ ]:
num=int(input())

In [1]:
l=range(5)
l

range(0, 5)

In [3]:
num=int(input())

if num==20:
    print("True")
else:
    print("False")

 10

False

## For Loop

### For loop is used for iteration and it is performed on sequences: List, Tuples, Range, Strings

In [4]:
S = "Hello Python"

In [5]:
for letter in S:
    print(letter)

H
e
l
l
o

P
y
t
h
o
n

In [7]:
a= list(range(2,10))
a

[2, 3, 4, 5, 6, 7, 8, 9]

In [8]:
for i in a:
    print(i)

2
3
4
5
6
7
8
9

In [9]:
## Modulo Operator '%'

In [10]:
6/3

2.0

In [11]:
6%3

0

In [12]:
6%4

2

In [13]:
# for a number to be even, it should be divisible by 2 and remainder is 0

In [14]:
6 %2

0

In [15]:
6%2 ==0

True

In [16]:
l= [4,5,6,8,7,9,10,12,22]

for i in l:
    if i %2 ==0:
        print("The  number is even",i)
    else:
        print("The number is odd",i)

The  number is even 4
The number is odd 5
The  number is even 6
The  number is even 8
The number is odd 7
The number is odd 9
The  number is even 10
The  number is even 12
The  number is even 22

In [18]:
num= int(input())

if num % 2==0:
    print("The number is Even", num)
else:
    print("The number is odd",num)

 15

The number is odd 15