In [1]:
4+5

9

In [2]:
4*5

20

In [3]:
4**2

16

In [4]:
_

16

In [5]:
_+4

20

## Python Data Structures

# Python

In [6]:
7+6*4  # operation

31

In [7]:
7+6*4  operation

SyntaxError: invalid syntax (<ipython-input-7-28ab3a7483cf>, line 1)

# Mutable and Immutable

In [8]:
# Mutable --> Objects whose values can be changed
# Immutable --> Objects whose values cannot be changed.

 Numbers --> integers, floating numbers, complex numbers(a+ij)
 Strings-- Words, alphabets

Python Data Attributes:
    
    Python Lists
    Python sets
    Python Tuple
    Dictionary

In [12]:
# Data Attributes and Methods (performs some operation on objects)

In [13]:
a= []

In [14]:
type(a)

list

Lists are mutable --> values can be changed

In [15]:
a= [1,2,5,7,2,3]

In [17]:
sum(a)  # this adds the elemnts present in the list

20

In [19]:
a.count(2)

2

In [21]:
a=[2,3,4,5,6,7,8,4,3,3,4]

In [22]:
a.count(4)

3

In [23]:
a=[2,3,5,'c']

In [24]:
# String

In [25]:
Name= 'a'

In [26]:
type(Name)  # string can be placed in '', "", """ """

str

In [27]:
Name= 4

In [28]:
type(Name)

int

In [31]:
Name="5"

In [32]:
type(Name)

str

In [33]:
5 + 6

11

In [34]:
5 + 'hi'

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [35]:
'5'+'Hi'    # '+' for string called Concatenation

'5Hi'

In [36]:
5*3 # 5+5+5=15

15

In [37]:
'Hi'*3   # 'Hi' + 'Hi'+ 'Hi'

'HiHiHi'

In [38]:
6/5

1.2

In [39]:
8/3

2.6666666666666665

In [40]:
type(8/3)

float

In [41]:
8//3

2

In [42]:
type(8//3)

int

In [43]:
Lst= [3,5,7,2,1,8]

In [44]:
Lst.append(9)

In [45]:
Lst

[3, 5, 7, 2, 1, 8, 9]

In [46]:
b=[11,22,33]

In [47]:
Lst.append(b)
Lst

[3, 5, 7, 2, 1, 8, 9, [11, 22, 33]]

In [48]:
Lst.extend(b)

In [49]:
Lst

[3, 5, 7, 2, 1, 8, 9, [11, 22, 33], 11, 22, 33]

In [50]:
x= [4,2,6]

In [51]:
y=[11,33,66]

In [52]:
x.extend(y)
x

[4, 2, 6, 11, 33, 66]

In [53]:
# Append and Extend

In [55]:
x

[4, 2, 6, 11, 33, 66]

In [56]:
x.pop()  # pop returns the last element from the list

66

In [57]:
x

[4, 2, 6, 11, 33]

In [59]:
x.insert(2,'Hi')   # refernce for indexing
x

[4, 2, 'Hi', 6, 11, 33]

In [62]:
a=[4,5,2,1]

In [64]:
max(a)

5

In [65]:
min(a)

1

In [67]:
Name=[5,6,7,3,2]

In [68]:
Name.pop()

2

In [69]:
Name

[5, 6, 7, 3]

In [70]:
Name.append(4)

In [71]:
Name

[5, 6, 7, 3, 4]

In [72]:
# Indexing and Slicing

In [73]:
A= [11,33,55,22,66]

In [74]:
A[0]  # positive indexing starts with '0', negative indexing starts with -1

11

In [75]:
A[-3]

55

In [76]:
Name= ['Air', 'Fire','Water','Earth']

In [77]:
Name[0]

'Air'

In [78]:
Name[-2]

'Water'

In [79]:
# Nested Indexing

In [80]:
a= ['Orange','Apple']

In [81]:
b=['carrot','potato']

In [82]:
c=(a,b)

In [83]:
c

(['Orange', 'Apple'], ['carrot', 'potato'])

In [84]:
c[0]

['Orange', 'Apple']

In [85]:
c[1]

['carrot', 'potato']

In [86]:
c[0][0]

'Orange'

In [87]:
c[1][1]

'potato'

In [2]:
S= "String"

In [3]:
len(S)

6

In [5]:
S="Str  ing"

In [6]:
len(S)

8

In [7]:
Names= ["Hello","World"]

In [8]:
Names[1]

'World'

In [9]:
Names[-1]

'World'

In [10]:
Names[-1][0]

'W'

In [11]:
Names[-1][-1]

'd'

In [12]:
S="Python"

In [13]:
S[0:3]  # [start,stop]

'Pyt'

In [14]:
S[1:5]

'ytho'

In [15]:
S[2:]

'thon'

In [18]:
s="elephant"

In [19]:
s[1:]

'lephant'

In [20]:
s[::-1]  # reverse of the string

'tnahpele'

In [21]:
List= [2,3,6,7,8,4,9]

In [22]:
List[1:5]

[3, 6, 7, 8]

In [23]:
List[1:6:2]  # [Start,stop, step]

[3, 7, 4]

## Range

In [24]:
a= range(5)
a

range(0, 5)

In [25]:
list(range(5))

[0, 1, 2, 3, 4]

In [26]:
list(range(11))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [27]:
len(list(range(11)))

11

In [31]:
a=list(range(11,31))
a

[11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30]

In [32]:
a[1:20:2]

[12, 14, 16, 18, 20, 22, 24, 26, 28, 30]

In [33]:
a[1:20:3]

[12, 15, 18, 21, 24, 27, 30]

In [34]:
a[1:20:5]

[12, 17, 22, 27]

In [35]:
list(range(2,21,2))

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

## Tuples

In [36]:
# immutable
#()
# sequence

In [39]:
T=(2,3,5,6,2,3,2,2)

In [40]:
type(T)

tuple

In [41]:
T.count(2)

4

In [42]:
T.append(4)

AttributeError: 'tuple' object has no attribute 'append'

In [43]:
T.extend(3)

AttributeError: 'tuple' object has no attribute 'extend'

In [53]:
S="string"

In [54]:
S

'string'

In [55]:
S.capitalize()

'String'

In [56]:
S.lower()

'string'

In [57]:
S.upper()

'STRING'

In [58]:
_.lower()

'string'

In [59]:
_.replace("t","p")

'spring'

In [61]:
'nine'.replace("n","p")

'pipe'

In [81]:
S="Hello World"

In [78]:
S.split("")

ValueError: empty separator

## Dictionary

In [ ]:
# Dictionary has Keys and Values and used for mapping of variable.

In [64]:
Dict ={}

In [65]:
type(Dict)

dict

In [67]:
Dict={"key1": 'Value1', "key2": 'Value2', "key3": 'Value3'}

In [68]:
Dict["key1"]

'Value1'

In [69]:
D ={"a": 24, "b": 30, "c": 55}

In [70]:
D['a']

24

In [71]:
D={"a": 24, "b": [2,3,4], "c": (3,4,5)}

In [73]:
D['a']

24

In [74]:
D['b']

[2, 3, 4]

In [75]:
D['c']

(3, 4, 5)

In [77]:
D['b'][0:2]

[2, 3]